body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f7fa;
  height: 100vh;
  display: flex;
  justify-content: center;
	  align-items: center;
}

.welcome-container {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 750px;
  width: 90%;
}
